*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.container{
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    margin-top: 10%;
    margin-bottom: 10%
}
.contactsTitle{
    
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
    font-size: 80px;
}

.formTitle{
    margin-bottom: .5rem;
    font-size: 40px;
}

form{
    display: flex;
    flex-direction: column;
    width: 24rem;
    gap: 2rem;
}


input, textarea{
    padding: 1.4rem;
    background: transparent;
    border: 1px solid #18a3b5;
}

button{
    padding: 1.4rem;
    background: transparent;
    border: 1px solid;
    background-color: #18a3b5;
    color: white;
    cursor: pointer;
}

@media  screen and (max-width: 800px) {
    .container{
        flex-direction: column;
        align-items: center;
    }

}

@media  screen and (max-width: 500px) {
    .contactsTitle{
     font-size: 70px;
    }
    
}