.container{
    background-color: rgb(108, 199, 194);
    padding: 5rem;
    
}

.heading{
    text-align: center;
    font-size: 50px;
    
    
}

.spArea{
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 3rem;
}

@media only screen and (max-width: 800px){
    .spArea{
        flex-wrap: wrap;
    }

    
.heading{
    
    font-size: 30px;
}
}